/* εδω ειναι τα γενικα για την αρχικι σελιδα */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7f7f7;
}

/* κραταει  το bottom κατω */
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    max-width: 1100px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
}

/* εδω ειναι το footer τοθ website */
header {
    background: #BE1622;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 50px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
}

/* κινιτο μενου */
#menuBtn {
    display: none;
    background: none;
    border: none;
    font-size: 26px;
    color: white;
}
video, iframe {
    width: 100%;
    max-width: 900px;
    height: auto;
    margin: 20px auto;
    display: block;
}
/* εδο ειναι τα products  */
#productList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.product-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #577A9B;
}
/* κουμπια  */
.addBtn {
    background: #006250;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
}

.infoBtn {
    background: #0099D2;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
}

.removeBtn {
    background: #919CAD;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
}
/* εδω ξεκιναμε για το cart */
#cartList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    max-width: 900px;
    margin: auto;
}
.cart-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #577A9B   ;
}
#cartSummary {
    margin-top: 30px;
    text-align: center;
}
/* Eδω ειναι για το footer  */
footer {
    background: #007FB0;
    color: white;
    padding: 30px 0;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    padding: 0 20px;
}
.footer-column {
    width: 33%;
    font-size: 14px;
}
.footer-column h3 {
    margin-bottom: 10px;
}
.footer-container .footer-column:nth-child(2) {
    text-align: center;
}
.footer-right {
    text-align: right;
}
/* εδω ειναι το responsive  */
@media (max-width: 900px) {
    #productList {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 600px) {
    nav {
        display: none;
        flex-direction: column;
        background: #BE1622;
    }
    nav a {
        margin: 10px 0;
    }
    #menuBtn {
        display: block;
    }
    #productList {
        grid-template-columns: 1fr;
    }
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
    .footer-column,
    .footer-right {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
}
